* {
    box-sizing: border-box;
	margin: 0;
	text-decoration: none;
}  

/* Menú desplegable del lado izquierdo */
.sidebar{
    height: 90%;
    width: 20%;
    background-color: #3a9c73;
    position: fixed !important;
    z-index: 1;
    overflow: auto;
	bottom: 0;
	text-align: left;
	padding-top: 10px;
	display: none;
}

.sidebarOpenButton{
    display: inline-block;
	font-size: 40px;
	cursor: pointer;
}

.sidebarOptionText{
	font-size: 30px;
	color: black;
	padding-left: 10px;
	cursor: pointer;
}

.sidebarOptionIcon{
	width: 28px;
	height: 28px;
	cursor: pointer;
}

.sidebarOptionButton{
	height: 9%;
	width: 100%;
	background-color: #3a9c73;
	padding-top: 12px;
	padding-left: 15px;
}

.sidebarOptionButton:hover{
	background-color: #37c087;
}

/* Header */
.nav{
	background-color: #208f61fa;
	color: rgb(26, 23, 23);
    text-align: left;
	position: fixed;
    width: 100%;
	height: 10%;

}

.menuIcon{
	width: 35px;
	height: 35px;
}

h1{
	font-size: 50px;
    font-family: 'Sansita Swashed', cursive;
	display: inline-block;
}

.searchBar{
	padding-left: 180px;
	display: inline-block;
	width: 50%;
}

.searchBar input[type=text] {
	font-size: 20px;
	border: 2px solid black;
	background: #f1f1f1;
	width: 85%;
	padding-top: 10px;
}
  
.searchBar button {
	float: right;
	width: 15%;
	background: #208f61fa;
	font-size: 13px;
	border: none;
	cursor: pointer;
}

.searchBar button:hover {
	background: #3a9c73;
}

.login{
	float: right;
	padding-right: 30px;
	padding-top: 15px;
	font-size: 32px;
}

#profile{
	color: black;
	padding-right: 5px;
	font-size: 25px;
}

.loginButton{
	width: 32px;
	height: 32px;
	cursor: pointer;
	vertical-align: bottom;
}
  
/* Content column */
.content {
	width: 80%;
	float: right;
	padding: 10px;
	height: 3000px;
}

/* Clear float for the footer */
.row:after {
  	content: "";
  	display: table;
  	clear: both;
}

/* Style the footer */
.footer {
	background-color: #208f61fa;
	color: rgb(211, 203, 203);
	font-size: 15px;
	padding: 5px;
	text-align: center;
	width: 100%;
	bottom: 0;
	position: fixed;
}

/* Para ajustar los elementos a la pantalla */  
@media only screen and (max-width: 1120px) {
	.col-1 {width: 8.33%;}
	.col-2 {width: 16.66%;
			font-size: 35px;}
	.col-3 {width: 25%;}
	.col-4 {width: 33.33%;
			padding: 20px;}
	.col-5 {width: 41.66%;}
	.col-6 {width: 50%;}
	.col-7 {width: 58.33%;}
	.col-8 {width: 66.66%;}
	.col-9 {width: 75%;}
	.col-10 {width: 83.33%;}
	.col-11 {width: 91.66%;}
	.col-12 {width: 100%;}
}
