/* CSS de la información de la película */

body {
    font-family: 'Quicksand', sans-serif;
    background-color: rgb(211, 203, 203);
    padding: 20px 15%;
}

.previewImg {
    width: 100%;
}

.title {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 80px;
    font-size: 30px;
}

.price {
    background-color: rgba(32, 143, 97, 0.3);
}

.actionDisplay {
    width: 100%;
    padding-bottom: 50px;
}

.actionButton {
    width: 49.7%;
    border-style: solid;
    height: 30px;
    border-color: rgb(26, 25, 25);
    background-color: #208f61fa;
    cursor: pointer;
}

.actionButton:hover {
    background: #3a9c73;
}

.addCartButton {
    width: 25px;
    height: 25px;
}

.buyButton {
    font-size: 25px;
}

.movieText {
    font-family: 'Roboto', sans-serif;
}

t{
    font-size: 20px;
    font-weight: bold;
    color: #156342fa;
}

p{
    font-size: 16px;
    color: black;
}

/* Para ajustar los elementos a la pantalla dependiendo de su tamaño */
@media only screen and (max-width: 1063px){
	.col-1 {
        text-align: center;
    }
    .col-2{
        font-size: 20px;
    }
}
