/* CSS de la página principal */

* {
    box-sizing: border-box;
	margin: 0;
	text-decoration: none;
}

body {
    font-family: 'Quicksand', sans-serif;
	background-color: rgb(211, 203, 203);
}

/* Menú desplegable del lado izquierdo */
.sidebar{
    height: 100%;
    width: 20%;
    background-color: #3a9c73;
    position: fixed !important;
    z-index: 1;
    overflow: auto;
	top: 75px;
	text-align: left;
	display: none;
}

.sidebarOpenButton{
    display: inline-block;
	font-size: 40px;
	cursor: pointer;
}

.sidebarOptionText{
	font-size: 30px;
	color: black;
	padding-left: 10px;
	cursor: pointer;
}

.sidebarOptionIcon{
	width: 28px;
	height: 28px;
	cursor: pointer;
}

.sidebarOptionButton{
	height: 60px;
	width: 100%;
	background-color: #3a9c73;
	padding-top: 12px;
	padding-left: 15px;
}

.sidebarOptionButton:hover{
	background-color: #37c087;
}

/* Header */
.nav{
	background-color: #208f61fa;
	color: rgb(26, 23, 23);
    text-align: left;
	position: fixed;
	z-index: 1;
    width: 100%;
	height: 75px;
}

.menuIcon{
	width: 35px;
	height: 35px;
}

h1{
	font-size: 50px;
	font-family: 'Sansita Swashed', cursive;
	color: black;
	display: inline-block;
	cursor: pointer;
}

.searchBar{
	padding-left: 180px;
	display: inline-block;
	width: 50%;
}

.searchBar input[type=text] {
	font-size: 20px;
	border: 2px solid black;
	background: #f1f1f1;
	width: 85%;
	padding-top: 10px;
}
  
.searchBar button {
	float: right;
	width: 15%;
	background: #208f61fa;
	font-size: 13px;
	border: none;
	cursor: pointer;
}

.searchBar button:hover {
	background: #3a9c73;
}

.login{
	float: right;
	padding-right: 30px;
	padding-top: 15px;
	font-size: 32px;
}

.login button{
	color: black;
	padding-right: 5px;
	font-size: 25px;
	background: #208f61fa;
	border: none;
	cursor: pointer;
	font-family: 'Quicksand';
}

.login button:hover {
	background: #3a9c73;
}

.profileButton{
	width: 32px;
	height: 32px;
	cursor: pointer;
	vertical-align: bottom;
}

/* Content column */
.content {
	padding: 100px 10px 50px 105px;
}

.content-margin {
	float: left;
	width: 100%;
}

.content-display {
	position: relative;
}

.content-title {
	position: absolute;
	left: 0;
	top: 0;
	color: white!important;
	background-color: black !important;
	opacity: 80%;
	padding: 8px 16px !important;
	width: 55%;
}

.content-title:hover {
	opacity: 100%;
}

.content-image {
	width: 75%;
	cursor: pointer;
}

.content-image:hover {
	opacity: 80%;
}

/* Clear float for the footer */
.row:after {
  	content: "";
  	display: table;
  	clear: both;
}

/* Style the footer */
.footer {
	background-color: #208f61fa;
	color: rgb(211, 203, 203);
	font-size: 15px;
	padding: 5px;
	text-align: center;
	width: 100%;
	bottom: 0;
	position: fixed;
}

/* Para ajustar los elementos a la pantalla dependiendo de su tamaño */
/* Navigation and sidebar */ 
@media only screen and (max-width: 1400px){
	.col-1 {
		display: none;
	}
	.col-5 {
		margin: auto;
		display: block;
	}
}

@media only screen and (max-width: 1240px) {
	.col-2 {
		width: 33.33%;
		padding-top: 20px;
		padding-left: 10px;
	}
}

@media only screen and (max-width: 930px) {
	.col-3 {
		display: none;
	}
}

@media only screen and (max-width: 600px) {
	.col-4 {
		display: none;
	}
}

/* Content */

@media (min-width: 0px) {
	.cont-col-1 {
		width: 79.99999%;
		height: 320px;
	}
}

@media (min-width: 480px) {
	.cont-col-1 {
		width: 79.99999%;
		height: 600px;
	}
}

@media (min-width: 760px) {
	.cont-col-1 {
		width: 49.99999%;
		height: 525px;
	}
}

@media (min-width: 1050px) {
	.cont-col-1 {
		width: 33.33332%;
		height: 500px;
	}
}

@media (min-width: 1380px) {
	.cont-col-1 {
		width: 24.99999%;
		height: 480px;
	}
}
