/* CSS general compartido entre varios html */

@font-face{
    font-family: "Sansita Swashed";
    src: url("../media/fonts/SansitaSwashed-Black.ttf") format("truetype");
}

@font-face{
    font-family: "Roboto";
    src: url("../media/fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face{
    font-family: "Quicksand";
    src: url("../media/fonts/Quicksand-Medium.ttf") format("truetype");
}

/*
    font-family: 'Secular One', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Sansita Swashed', cursive;
    font-family: 'Quicksand', sans-serif;
*/

.toTheLeft{
    text-align: left !important;
}

.toTheRight{
    text-align: right !important;
}

.toTheCenter{
    text-align: center !important;
}

.floatLeft{
    float: left;
}

.floatRight{
    float: right;
}

.vitalSpace{
    padding-left: 20px;
    padding-right: 20px;
}

/* Esconde los menús desplegables */
.hidden{
    display: none;
}
