<!DOCTYPE html>
{% extends "home.html" %}

<!-- Código html de la cesta del usuario -->
{% block content %}
<html>
    <head>
        <link rel="icon" href="../static/media/icons/favicon.ico"> <!-- Para mostrar el icono de la página en el navegador -->
        <link rel="stylesheet" href="../static/css/main.css" />
        <link rel="stylesheet" href="../static/css/homeTemplate.css" />
        <link rel="stylesheet" href="../static/css/cestaTemplate.css" />
    </head>
    
    <body>
        <div class="buttonPadding">
            <div class="cesta-title">
                Tu Cesta
            </div>
            <a href="{{ url_for('buy')}}">
                <div class="actionButton">
                    Pagar y Terminar ({{ precio }}€)
                </div>
            </a>

            {% if session['usuario'] %}
            <div class="saldo">
                Saldo: {{ session['saldo'] }}€
            </div>
            {% endif %}
        </div>

        {% for item in cesta %}
        <div class="content-margin cont-col-1">
            <div class="content-display">
                <div class="content-title">{{ item.título }} ({{ item.año }})</div>
                <a class="delete-sign" href="{{ url_for('cesta', delete=item.id) }}">Eliminar</a>
                <a href="{{ url_for('movie', id=item.id) }}">
                    <img class="content-image" src="{{ item.poster }}" alt="{{ item.título }}">
                </a>
            </div>
        </div>
        {% endfor %}

    </body>

</html>
{% endblock %}
