<!DOCTYPE html>

<!-- Código html de la página principal y del formulario de iniciar sesión -->
<html>
    <head>
        <title>Filmbrary</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <script src="../static/js/home.js"></script>
        <link rel="icon" href="../static/media/icons/favicon.ico"> <!-- Para mostrar el icono de la página en el navegador -->
        <link rel="stylesheet" href="../static/css/main.css" />
        <link rel="stylesheet" href="../static/css/homeTemplate.css" />
        <link rel="stylesheet" href="../static/css/loginTemplate.css" />
    </head>
    
    <body>
        <div class="nav">
            <div class="sidebarOpenButton toTheLeft vitalSpace" onclick="menuButton()">
                <img class = "menuIcon" src = "../static/media/icons/threeDots.png"></img>
            </div>
            <a href="{{ url_for('home') }}">
                <h1 class="toTheCenter vitalSpace col-3">Filmbrary</h1>
            </a>
            <div class="searchBar col-2">
                <form action="/action_page.php">
                    <input type="text" placeholder="Buscar.." name="search">
                    <button type="submit"><img class = "menuIcon" src= "../static/media/icons/Search.png"></button>
                </form>
            </div>
            <div class="login">
                {% if not session['usuario'] %}
                <button id="profile" onclick="loginWindow()">Iniciar sesión</button>
                {% else %}
                <a href= "{{ url_for('logout') }}">{{ session['usuario'] }}</a>
                {% endif %}
                <a href = "#profile">
                    <img class="profileButton col-4" src = "../static/media/icons/Login.png"></img>
                </a>
            </div>
        </div>
          
        <div class="row">
            <!-- Contenido con las películas -->
            <div class="content">
                {% block content %}
                {% for item in movies %}
                <div class="content-margin cont-col-1">
                    <div class="content-display">
                        <div class="content-title">{{ item.título }} ({{ item.año }})</div>
                        <a href="{{ url_for('movie', id=item.id) }}">
                            <img class="content-image" src="{{ item.poster }}" alt="{{ item.título }}">
                        </a>
                    </div>
                </div>
                {% endfor %}
                {% endblock %}
            </div>

            <!-- Menu lateral -->
            <div class="sidebar" id="menu">
                <div class="sidebarOptionButton">
                    <a href = "#cesta">
                        <img class="sidebarOptionIcon col-5" src = "../static/media/icons/ShoppingCart1.png"></img>
                    </a>
                    <a href = "#cesta" class="sidebarOptionText col-1">
                        Cesta
                    </a>
                </div>
                <div class="sidebarOptionButton">
                    <a href = "#pelicula-del-dia">
                        <img class="sidebarOptionIcon col-5" src = "../static/media/icons/Ticket.png"></img>
                    </a>
                    <a href = "#pelicula-del-dia" class="sidebarOptionText col-1">
                        Película del día
                    </a>
                </div>
                <div class="sidebarOptionButton">
                    <a onclick="categoriesButton()">
                        <img id="desplegable" class="sidebarOptionIcon col-5" src = "../static/media/icons/Desplegable.png"></img>
                    </a>
                    <a onclick="categoriesButton()" class="sidebarOptionText col-1">
                        Categorías
                    </a>
                </div>
                <div id="category" class="hidden vitalSpace">
                    <div class="sidebarOptionButton">
                        <a href = "#categoria-todas">
                            <img class="sidebarOptionIcon col-5" src = "../static/media/icons/AllCategories.png"></img>
                        </a>
                        <a href = "#categoria-todas" class="sidebarOptionText col-1">
                            Todas
                        </a>
                    </div>
                    <div class="sidebarOptionButton">
                        <a href = "#categoria-romance">
                            <img class="sidebarOptionIcon col-5" src = "../static/media/icons/Romance.png"></img>
                        </a>
                        <a href = "#categoria-romance" class="sidebarOptionText col-1">
                            Romance
                        </a>
                    </div>
                    <div class="sidebarOptionButton">
                        <a href = "#categoria-accion">
                            <img class="sidebarOptionIcon col-5" src = "../static/media/icons/Action.png"></img>
                        </a>
                        <a href = "#categoria-accion" class="sidebarOptionText col-1">
                            Acción
                        </a>
                    </div>
                    <div class="sidebarOptionButton">
                        <a href = "#categoria-comedia">
                            <img class="sidebarOptionIcon col-5" src = "../static/media/icons/Comedy.png"></img>
                        </a>
                        <a href = "#categoria-comedia" class="sidebarOptionText col-1">
                            Comedia
                        </a>
                    </div>
                    <div class="sidebarOptionButton">
                        <a href = "#categoria-animacion">
                            <img class="sidebarOptionIcon col-5" src = "../static/media/icons/Animation.png"></img>
                        </a>
                        <a href = "#categoria-animacion" class="sidebarOptionText col-1">
                            Animación
                        </a>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Footer information -->
        <div class="footer">
            © Copyright Filmbrary.com | J.M Freire - Miguel Herrera
        </div>

        <!-- Login formulario -->
        <div id="loginForm" class="modal">
            <form class="modal-content" action="{{ url_for('login') }}" method="post">
                <div class="imgcontainer">
                    <span class="close" onclick="loginWindow()" title="Close Window">&times;</span>
                    <img src="../static/media/icons/Login.png" alt="Avatar" class="avatar">
                </div>
            
                <div class="container">
                    <label for="uname"><b>Nombre de Usuario</b></label>
                    <input type="text" placeholder="Escribir Nombre de Usuario" name="uname" required>
            
                    <label for="psw"><b>Contraseña</b></label>
                    <input type="password" placeholder="Escribir Contraseña" name="psw" required>
                    
                <button type="submit">Iniciar sesión</button>
                    <label>
                        <input type="checkbox" checked="checked" name="remember"> Recuérdame
                    </label>
                </div>
            
                <div class="container">
                    <span class="gotoRegister">
                        Compra de forma segura y a un click totalmente gratis.
                        <a href="{{ url_for('register') }}">¡Hazte una cuenta!</a>
                    </span>
                </div>
            </form>
        </div>

    </body>

</html>