<!DOCTYPE html>
{% extends "home.html" %}

<!-- Código html de la información de la película -->
{% block content %}
<html>
    <head>
        <link rel="icon" href="data:,"> <!-- Para dejar de hacer request a favicon.ico -->
        <link rel="stylesheet" href="../static/css/main.css" />
        <link rel="stylesheet" href="../static/css/movieTemplate.css" />
    </head>
    
    <body>
        <div class="movieBody">
            <!-- Foto, título, precio, año... -->
            <div>
                <img class="previewImg" src = "{{ movie.preview }}"></img>
            
                <div class="title col-1">
                    <div class="floatLeft"> {{ movie.título }} ({{ movie.año }})</div>
                    <div class="price floatRight">
                        {{ movie.precio }} €
                    </div>  
                </div>
            </div>

            <!-- Botones para añadir al carrito y comprar -->
            <div class="actionDisplay">
                <button class = "actionButton col-2" type="submit">
                    <img class = "addCartButton" src= "../static/media/icons/AddShoppingCart.png">
                </button>
                <button class = "actionButton buyButton col-2" type="submit">
                    Comprar Ahora
                </button>
            </div>

            <!-- Sinopsis, reparto y otros textos. -->
            <div class="movieText">
                <t>Sinopsis:</t>
                <p>{{ movie.sinopsis }}</p>
                </br>
                <t>Reparto:</t>
                <p>
                    {% for actor in movie.reparto %}
                    {{ actor.nombre }} como <strong>{{ actor.personaje }}</strong> </br>
                    {% endfor %}
                </p>
                </br>
                <t>Crítica:</t>
                <p>
                    {{ movie.puntuación }} / 10 </br>
                    {{ movie.crítica }}
                </p>
            </div>
        </div>
    </body>
    
</html>
{% endblock %}
