<!DOCTYPE html>
{% extends "home.html" %}

<!-- Código html de la información de la película -->
{% block content %}
<html lang="es">
    <head>
        <title>Filmbrary - Película</title>
        <meta charset="UTF-8">
        <link rel="icon" href="{{ url_for('static', filename='media/icons/favicon.ico') }}" type="image/x-icon"> <!-- Para mostrar el icono de la página en el navegador -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/movieTemplate.css') }}" />
    </head>
    
    <body>
        <div class="movieBody">
            <!-- Foto, título, precio, año... -->
            <div>
                <img class="previewImg" src = "{{ movie.preview }}" alt="Escena de película">
            
                <div class="title col-1">
                    <div class="floatLeft"> {{ movie.título }} ({{ movie.año }})</div>
                    <div class="price floatRight">
                        {{ movie.precio }} €
                    </div>  
                </div>
            </div>

            <!-- Botones para añadir al carrito y comprar -->
            <div class="actionDisplay">
                
                <a href="{{ url_for('cesta', add=movie.id) }}">
                    <button class = "actionButton buyButton col-2" type="submit">
                        <img class = "addCartButton" src= "{{ url_for('static', filename='media/icons/AddShoppingCart.png') }}" alt="Añadir a la cesta">
                        {% if added > 0 %}
                        ({{ added }})
                        {% endif %}
                    </button>
                </a>

                <a href="{{ url_for('buy_direct', id=movie.id) }}">
                    <button class = "actionButton buyButton col-2" type="submit">
                        Comprar Ahora
                    </button>
                </a>
            </div>

            <!-- Sinopsis, reparto y otros textos. -->
            <div class="movieText">
                <t>Sinopsis:</t>
                <p>{{ movie.sinopsis }}</p>
                </br>
                <t>Reparto:</t>
                <p>
                    {% for actor in movie.reparto %}
                    {{ actor.nombre }} como <strong>{{ actor.personaje }}</strong> </br>
                    {% endfor %}
                </p>
                </br>
                <t>Crítica:</t>
                <p>
                    {{ movie.puntuación }} / 10 </br>
                    {{ movie.crítica }}
                </p>
            </div>
        </div>
    </body>
    
</html>
{% endblock %}
