<!DOCTYPE html>

<!-- Código html del formulario de registro de un nuevo usuario -->
<html>
    <head>
        <title>Join Filmbrary</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <script src="../static/js/register.js"></script>
        <link rel="icon" href="../static/media/icons/favicon.ico"> <!-- Para mostrar el icono de la página en el navegador -->
        <link rel="stylesheet" href="../static/css/main.css" />
        <link rel="stylesheet" href="../static/css/registerTemplate.css" />
    </head>

    <body>
        <form action="" method="post">
            <div class="container">
                <h1>Join us</h1>
                <label for="uname"><b>Nombre de Usuario</b></label>
                <input type="text" placeholder="Escribir Nombre de Usuario" name="uname" required>

                <label for="email"><b>Correo electrónico</b></label>
                <input type="email" placeholder="Escribir Correo Electrónico" name="email" required>

                <label for="psw"><b>Contraseña</b></label>
                <input type="password" placeholder="Escribir Contraseña" name="psw"
                pattern="[0-9a-zA-Z](?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                title="La contraseña debe tener al menos 8 caracteres, contener una minúscula, una mayúscula
                y un número. No se permiten caracteres especiales."
                onkeyup="checkPassword()" required>

                <label id="repeat_psw_title" for="repeat_psw"><b>Repetir Contraseña</b></label>
                <input type="password" placeholder="Confirmar Contraseña" name="repeat_psw" 
                title = "Las contraseñas deben coincidir" onkeyup="checkPassword()" required>

                <label for="tarjeta"><b>Tarjeta de Crédito</b></label>
                <input type="text" placeholder="Escribir Tarjeta de Crédito válida" name="tarjeta" required>
                
                <button type="submit">Crear cuenta</button>
                <label>
                    <input type="checkbox" name="emailPref">
                    Mándame correos ocasionales sobre lo que está pasando.
                </label>
            </div>
        
            <div class="user_exists">
                {% if user_exists %}
                <span>
                    {{ user_exists }}
                </span>
                {% endif %}
            </div>

            <div class="container">
                <span>
                    ¿Ya tienes una cuenta?
                    <a href="{{ url_for('home', login=True) }}">¡Inicia sesión!</a>
                </span>
            </div>
        </form>
    </body>

</html>
